
.grid1 {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em; 
	gap: 2em;
}
 /* for screen less than 800px */
 @media all and (max-width: 800px){
    	.grid1 {
        grid-template-columns: 1fr 1fr;
    }
}
/* for screen less than 460px */
@media all and (max-width: 460px){
	    .grid1 {
        grid-template-columns: 1fr;
    }
 }
.grid2 {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em; 
	gap: 2em;
}
/* for screen less than 800px */
 @media all and (max-width: 800px){
    	.grid2 {
        grid-template-columns: 1fr 1fr;
    }
}
/* for screen less than 460px */
@media all and (max-width: 460px){
	    .grid2 {
        grid-template-columns: 1fr;
    }
 }
.grid3 {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em; 
	gap: 2em;
}
/* for screen less than 800px */
 @media all and (max-width: 800px){
    	.grid3 {
        grid-template-columns: 1fr 1fr;
    }
}
/* for screen less than 460px */
@media all and (max-width: 460px){
	    .grid3 {
        grid-template-columns: 1fr;
 	}
}

h1 {
	color: white;
	text-align: center;
}
img {
	width: 100%;
}
#top{
	width: 100%;
	/*margin: 0 10%;*/
	display:block;
	/*color: orange;*/
	background-color: black;
}

#top > h1 {
	display: inline-block;
    width: 20%;
    color:white;
    font-size: 18px;

} 
section a button {
			display: block;
  			background-color: white;
  			color:orange;
  			margin: auto;
			padding: 15px 15px;
			border-color: white;
			font-size: 16px;
			font-family: sans-serif;
} 
nav {
	display: inline-block;
    width: 75%;
}   
nav p {
	text-align: right;
}
nav a {
	color: white;
	text-decoration: none;
}
nav p span {
	margin-right: 1em;
}
#splashscreen {
	    height: 70vh;
    background-image: url(./Photos/taps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav a {}
nav a:visited {}

.contentsection {
	color: black;
}
a:link{
	color:orange;
}
a:visited {
	color:white;
}
a:hover {
	color:orange;
	font-style: bold;
}
a:active {
	color:green;
}
.wrapper {
	color:black;
}
#gallery{
	width:80%;
}
.box1 {
width: 200px;
background-color:green;



